@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap");

@font-face {
  font-family: "GongGothicMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  /* background-color: #f6f9fc; */
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Lexend Deca", sans-serif;
}

#wrap {
  width: 100%;
}
#wrap > div {
  width: 100%;
  height: 100vh;
}
#wrap > div:nth-child(1) {
  background-color: #e9ecef;
}
#wrap > div:nth-child(2) {
  background-color: rgb(242, 203, 19);
}
#wrap > div:nth-child(3) {
  background-color: rgb(37, 37, 37);
}
#wrap > div:nth-child(4) {
  background-color: rgb(58, 109, 166);
}
#wrap > div:nth-child(5) {
  background-color: #e9ecef;
}
#wrap .in_main {
  display: flex;
}
.header {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  /* 먼저 상위 element 기준 좌측에서 우측으로 50% 이동하고(left:50%), 다음으로 x축 방향(왼쪽)으로 50% 이동하여 중앙정렬 된다. */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 999;
  box-shadow: 0px 5px 6px rgba(50, 50, 93, 0.11), 0 2px 3px rgba(0, 0, 0, 0.08);
}
.header a {
  color: #3e3f3e;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.header .nav {
  display: flex;
}
.header .nav li {
  margin-right: 40px;
  font-size: 25px;
}
.header .nav li a {
  color: #3e3f3e;
}
.header .nav li a:hover {
  color: orange;
}
.main_title {
  margin: 200px 0 0 50px;
  width: 600px;
  background-color: #fff;
  font-family: "Black Han Sans", sans-serif;
}
.main_title > h1 {
  font-size: 80px;
  padding-bottom: 30px;
}
.main_title > p {
  font-size: 30px;
}

h1.content_title {
  font-family: "Black Han Sans";
  padding-top: 100px;
  color: #fff;
  font-size: 70px;
  text-shadow: 2px 2px 6px rgb(49, 49, 49);
  text-align: center;
}
#skill .in_skill > h1.content_title {
  text-shadow: 2px 2px 6px rgb(148, 142, 142);
}
#end .in_end > h1.content_title {
  text-shadow: 2px 2px 6px gray;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "GongGothicMedium";
}

#profile .in_profile {
  margin-top: 90px;
  width: 1100px;
  height: 510px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: rgba(68, 68, 68, 0.2) 1rem 1rem 1rem 0px;
  font-size: 20px;
  color: rgb(103, 104, 102);
  line-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#profile .in_profile:hover {
  box-shadow: rgba(68, 68, 68, 0.2) 1rem 1rem 1rem 0px;
  transform: scale(1.01);
  transition: transform 0.7s;
}
#profile .icon1 {
  display: flex;
  justify-content: space-around;
}
#profile .icon1 > .icon {
  display: flex;
  width: 200px;
  height: 50px;
}
#profile .icon1 > .icon:hover {
  color: black;
  transform: color 0.5s;
}
#profile .icon1 > .icon > i {
  margin-top: 10px;
  width: 35px;
  height: 45px;
}

#profile .icon2 {
  display: flex;
  justify-content: space-around;
}
#profile .icon2 > .icon {
  display: flex;
  width: 200px;
  height: 50px;
}
#profile .icon2 > .icon:hover {
  color: black;
  transform: color 0.5s;
}
#profile .icon2 > .icon > i {
  margin-top: 10px;
  width: 40px;
  height: 45px;
}
#profile .icon2 > .icon > .icon-email {
  margin-left: 20px;
}
#profile .icon2 > .icon > .icon-email div:last-child {
  font-size: 18px;
}
#profile .icon2 > .icon > .icon-school div:nth-child(1) {
  margin-bottom: 7px;
}
#profile .icon2 > .icon > .icon-school div:nth-child(2),
#profile .icon2 > .icon > .icon-school div:nth-child(3) {
  font-size: 19px;
  line-height: 20px;
}

#q_mn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: 300px;
  z-index: 99;
  width: 100px;
  height: 170px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
#q_mn ul.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  line-height: 20px;
}
#q_mn ul.nav li {
  margin-bottom: 10px;
}
#q_mn ul.nav li a {
  color: #3e3f3e;
}
#q_mn ul.nav li > a:hover {
  color: orange;
}
